@media all and (min-width: 1366px) {
  .wraper {
    width: 1200px;
  }
}

@media all and (min-width: 995px) {
  .wraper {
    width: 996px;
  }
}

@media all and (max-width: 768px) {
  .wraper {
    width: 721px;
  }
}

header {
  background-color: #04f900;
  width: 1200px;
  height: 300px;
}

footer {
  background-color: #c800ff;
  height: 300px;
}

/*mixin*/
body {
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  background-color: #be0000;
  color: #333;
  font-size: 18px;
}

body h1 {
  font-size: 87px;
}

body h2 {
  font-size: 57px;
}

body h3 {
  font-size: 50px;
}

body h4 {
  font-size: 38px;
}

body h5 {
  font-size: 22px;
}

body .wrapper h1 {
  padding: 0;
  margin: 0;
}

body .wrapper h1 span {
  color: #55fc01;
  margin: 20px;
}

body .wrapper .content .rect {
  float: right;
  width: 400px;
  background-color: #ff007b;
}

.btn_wide {
  width: 200px;
  padding: 8px;
  text-align: center;
  color: #fff;
  background-color: #00eeff;
  cursor: pointer;
  border: 0px;
  border-radius: 10px;
  margin: 10px 0;
  text-align: left;
}

.btn_wide:hover {
  background-color: #00becc;
}

.btn_small {
  width: 100px;
  padding: 8px;
  text-align: center;
  color: #fff;
  background-color: #0040ff;
  cursor: pointer;
  border: 0px;
  border-radius: 10px;
}

.btn_small:hover {
  background-color: #0033cc;
}

.btn_medium {
  width: 150px;
  padding: 8px;
  text-align: center;
  color: #fff;
  background-color: #0040ff;
  cursor: pointer;
  border: 0px;
  border-radius: 10px;
  margin: 10px 0;
}

.btn_medium:hover {
  background-color: #0033cc;
}

.link {
  color: #00f210;
}

.link:hover {
  color: #fff;
}

.link::before {
  content: 'before ';
}

.link::after {
  content: 'after';
}

.bgimages {
  background-image: url("./images/pic_02.jpg");
}

#btn_midde {
  width: 200px;
  padding: 10px;
  text-align: center;
  background-color: #333;
  color: #fff;
}

.btn-noclass {
  width: 110px;
  padding: 10px;
  text-align: center;
  background-color: #333;
  color: #fff;
}

.boxs {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-image: url("./images/box_image.jpg");
}

.box-center {
  margin: 0 auto;
  text-align: center;
}

.textbox_left {
  width: 100px;
  min-height: 30px;
  margin: 0 auto;
  text-align: left;
}

.box-plus {
  width: 30px;
  height: -10px;
  margin: 200px;
  font: 1px;
  font-size: 1px;
  padding: 0px;
}

.box-area {
  margin-top: 20px;
}

body {
  background-color: yellow;
  color: #fff;
}

.for-1 {
  font-size: 1px;
}

.for-2 {
  font-size: 2px;
}

.for-3 {
  font-size: 3px;
}

.for-4 {
  font-size: 4px;
}

.for-5 {
  font-size: 5px;
}

.for-6 {
  font-size: 6px;
}

.for-7 {
  font-size: 7px;
}

.for-8 {
  font-size: 8px;
}

.for-9 {
  font-size: 9px;
}

.for-10 {
  font-size: 10px;
}

.col-md-1 {
  width: 8.33333%;
}

.col-md-2 {
  width: 16.66667%;
}

.col-md-3 {
  width: 25%;
}

.col-md-4 {
  width: 33.33333%;
}

.col-md-5 {
  width: 41.66667%;
}

.col-md-6 {
  width: 50%;
}

.col-md-7 {
  width: 58.33333%;
}

.col-md-8 {
  width: 66.66667%;
}

.col-md-9 {
  width: 75%;
}

.col-md-10 {
  width: 83.33333%;
}

.col-md-11 {
  width: 91.66667%;
}

.col-md-12 {
  width: 100%;
}

.img_a1 {
  background-image: url("images/a1.png");
}

.img_a2 {
  background-image: url("images/a2.png");
}

.img_a3 {
  background-image: url("images/a3.png");
}

.img_a4 {
  background-image: url("images/a4.png");
}

.img_box {
  background-image: url("images/box.png");
}

.img_b1 {
  background-image: url("images/b1.jpg");
}

.img_b2 {
  background-image: url("images/b2.jpg");
}

.img_b3 {
  background-image: url("images/b3.jpg");
}

.img_b4 {
  background-image: url("images/b4.jpg");
}

.img_jpgbox {
  background-image: url("images/jpgbox.jpg");
}

.item-20 {
  width: 20px;
}

.item-18 {
  width: 18px;
}

.item-16 {
  width: 16px;
}

.item-14 {
  width: 14px;
}

.item-12 {
  width: 12px;
}

.item-10 {
  width: 10px;
}

.item-8 {
  width: 8px;
}

.item-6 {
  width: 6px;
}

.item-4 {
  width: 4px;
}

h1 {
  font-size: 30px;
  width: 40px;
  height: 50px;
}

.items-num1 {
  width: 10px;
}

.items-num2 {
  width: 20px;
}

.items-num3 {
  width: 30px;
}

.items-num4 {
  width: 40px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */