@import 'base/var';
@import 'layout/header';
@import 'layout/footer';
@import 'mixins/btn';
@import 'mixins/animation';
@import 'mixins/rect';
@import 'mixins/float';



//mixin
/*mixin*/

@mixin margin() {
    margin: 20px;
}

body {
    padding: 0;
    font-family: $fontFamily;
    margin: 0;
    background-color: $bgc;
    color: $color;
    font-size: $fontSize;

    .wrapper {
        h1 {
            padding: 0;
            margin: 0;
            font-size: $fontSize * 3;

            span {
                color: rgb(85, 252, 1);
                @include margin();
            }

        }

        .content {
            .rect {
                @include float_Module(right, 400px);
                background-color: rgb(255, 0, 123);
            }

        }

    }
}







.btn_wide {
    @include btn(200px, 8px, #fff, rgb(0, 238, 255), 0px, 10px);
    margin: 10px 0;
}



.btn_small {
    @include btn(100px, 8px, #fff, rgb(0, 64, 255), 0px, 10px);
}

.btn_medium {
    @include btn(150px, 8px, #fff, rgb(0, 64, 255), 0px, 10px);
    margin: 10px 0;
}


.link {
    color: rgb(0, 242, 16);

    &:hover {
        color: #fff;
    }

    &::before {
        content: 'before ';
    }

    &::after {
        content: 'after';
    }
}



@mixin btn_class($class, $width) {
    .#{$class} {
        width: $width;
        padding: 10px;
        text-align: center;
        background-color: #333;
        color: #fff
    }
}

@mixin bg_image($url_files) {
    background-image: url('./images/#{$url_files}.jpg');
}
.bgimages {
    @include bg_image(pic_02);
}






@include btn_class(btnclass, 110px);