//宣告變數
@import 'base/var';

//宣告函式
@import 'mixins/textAlign';
@import 'mixins/btn';
@import 'mixins/animation';
@import 'mixins/rect';
@import 'mixins/float';
@import 'mixins/titleSize';
@import 'mixins/rwd';

//組件 
// @import 'btn';


//layout
@import 'page/desktop';
@import 'page/medium';
@import 'page/small';

//layout modules
@import 'layout/header';
@import 'layout/footer';

//其他 bootstrap 套件

@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
















//mixin
/*mixin*/

@mixin margin() {
    margin: 20px;
}

body {
    padding: 0;
    font-family: $fontFamily;
    margin: 0;
    background-color: $bgc;
    color: $color;
    font-size: $fontSize;
    @include titleSize($fontSize);

    .wrapper {
        h1 {
            padding: 0;
            margin: 0;

            span {
                color: rgb(85, 252, 1);
                @include margin();
            }

        }

        .content {
            .rect {
                @include float_Module(right, 400px);
                background-color: rgb(255, 0, 123);
            }
        }

    }
}


@mixin textAlign($value) {
    text-align: $value;
}


@mixin box-center($align) {
    margin: 0 auto;
    @include textAlign($align);
}

.btn_wide {
    @include btn(200px, 8px, #fff, rgb(0, 238, 255), 0px, 10px);
    margin: 10px 0;
    @include textAlign(left);
}



.btn_small {
    @include btn(100px, 8px, #fff, rgb(0, 64, 255), 0px, 10px);
}

.btn_medium {
    @include btn(150px, 8px, #fff, rgb(0, 64, 255), 0px, 10px);
    margin: 10px 0;
}


.link {
    color: rgb(0, 242, 16);

    &:hover {
        color: #fff;
    }

    &::before {
        content: 'before ';
    }

    &::after {
        content: 'after';
    }
}



@mixin btn_class($classname, $width) {
    ##{$classname} {
        width: $width;
        padding: 10px;
        text-align: center;
        background-color: #333;
        color: #fff;
    }
}


@mixin btn_box($width) {
    width: $width;
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: #fff;
}

@mixin bg_image($url_files) {
    background-image: url('./images/#{$url_files}.jpg');
}

.bgimages {
    @include bg_image(pic_02);
}


@include btn_class(btn_midde, 200px);

.btn-noclass {
    @include btn_box(110px);
}


@mixin prefix($attr, $value) {
    -moz-#{$attr}: $value;
    -o-#{$attr}: $value;
    -webkit-#{$attr}: $value;
    #{$attr}: $value;
}

.boxs {
    @include prefix(transition, all .5s);
    @include bg_image(box_image);
}


.box-center {
    @include box-center(center);
}


.textbox_left {
    width: 100px;
    min-height: 30px;
    @include box-center(left);
}


$num : 10;
$num-1 : 20;

.box-plus {
    width: $num + $num-1 + px;
    height: $num - $num-1 + px;
    margin: $num * $num-1 + px;
    font: round($num / $num-1) + px; //四捨五入
    font-size: ceil($num / $num-1) + px; // 無條件進位
    padding: floor($num / $num-1) + px; // 無條件捨去
}

// $marginTop: 21px;

@mixin boxArea($marginTop) {
    .box-area {
        @if $marginTop <=20px {
            margin-top: $marginTop;
        }

        @else {
            margin-top: ($marginTop / 2)
        }
    }
}

@include boxArea(20px);




@mixin theme($theme) {
    @if $theme==green {
        body {
            background-color: green;
            @content
        }
    }

    @else if $theme==yellow {
        body {
            background-color: yellow;
            @content
        }
    }

    @else if $theme==blue {
        body {
            background-color: blue;
            @content
        }
    }

    @else {
        body {
            background-color: #fff;
            @content
        }
    }
}

;

@include theme(yellow) {
    color: #fff;
}

@for $i from 1 through 100 {
    .for-#{$i} {
        font-size: $i * 1px;
    }
}

@mixin grid($num) {
    @for $i from 1 through $num {
        .col-md-#{$i} {
            width: ($i / $num) * 100%;
        }
    }
}


@include grid(12);


@mixin img_bg($file, $list) {
    @if $file==jpg {
        @each $var in $list {
            .img_#{$var} {
                background-image: url('images/#{$var}.jpg');
            }
        }
    }

    @else if $file==png {
        @each $var in $list {
            .img_#{$var} {
                background-image: url('images/#{$var}.png');
            }
        }
    }
}




@include img_bg(png, a1 a2 a3 a4 box);
@include img_bg(jpg, b1 b2 b3 b4 jpgbox);


// @while 迴圈


@mixin items($a, $b) {
    @while $a>$b {
        .item-#{$a} {
            width: 1px * $a
        }

        $a : $a - 2;
    }
}

@include items(20, 2);



