//========   按鈕模組 =======
//.btn_wide {
//   @include btn( 200px, 8px, #fff, rgb(0, 238, 255), 0px, 10px);
// }
//=========   end   ========


@mixin btn($width, $padding, $color, $bgc, $border:null, $border-r:null) {
    width: $width;
    padding: $padding;
    @include textAlign(center);
    color: $color;
    background-color: $bgc;
    cursor: pointer;
    border: $border;
    border-radius: $border-r;
    &:hover{
       background-color: darken($bgc ,10);
    }
}

// .btn_wide:hover{
// }

@each $btn_name , $btn_color in $btn-color_style {
    .#{$btn_name}_btn{
        width: 120px;
        padding: 10px;
        @include textAlign(center);
        background-color: $btn_color;
        cursor: pointer;
        &:hover{
            background-color: darken($btn_color ,10);
         }
         border-radius: 5px;

    }
}


