$theme_color : (
    main : rgb(255, 228, 23),
    about: rgb(254, 140, 98),
);

$btn-color_style :(primary : rgb(2, 116, 255),
    secondary : rgb(213, 213, 213),
    success : #40ff00,
    warning : rgb(254, 185, 10),
    fail : #fe0303
    )



