body {
    margin: 0 ;
    padding: 0;
}

section {
    width: 100vw;
    height: 100vh;
    background-color: rgb(31, 31, 31);
}

.box {
    width: 60px;
    height: 60px;
    color:#fff;
    background-color: rgb(98, 255, 0);
    margin-top: 5px;
}
/* 
.box1 {
    position: relative;
    left: 300px;
    
} */
.box3 {
opacity: 0;
}
.box-wide {
   width: 100px;
   margin: 0 auto;



}

