body {
    font-size: $fontSize;
    font-weight: 400;
    font-family: $fontFamily;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}